@use 'variables.module' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin telefonoXL {
    @media (min-width: v.$telefonoXL) {
        @content;
    }
}

@mixin telefonoXXL {
    @media (min-width: v.$telefonoXXL) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin tabletXL {
    @media (min-width: v.$tabletXL) {
        @content;
    }
}

@mixin tabletXXL {
    @media (min-width: v.$tabletXXL) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin desktopXXL {
    @media (min-width: v.$desktopXXL) {
        @content;
    }
}

@mixin fontAutomatico ($valor) {
    @media (min-width: v.$telefono) {
        font-size: $valor;
    }
    @media (min-width: v.$telefonoXL) {
        font-size: $valor + .5rem;
    }
    @media (min-width: v.$telefonoXXL) {
        font-size: $valor + 1rem;
    }
    @media (min-width: v.$tablet) {
        font-size: $valor + 1.5rem;
    }
    @media (min-width: v.$tabletXL) {
        font-size: $valor + 2rem;
    }
    @media (min-width: v.$tabletXXL) {
        font-size: $valor + 2.5rem;
    }
    @media (min-width: v.$desktop) {
        font-size: $valor + 3.5rem;
    }
    @media (min-width: v.$desktopXL) {
        font-size: $valor + 4.5rem;
    }
    @media (min-width: v.$desktopXXL) {
        font-size: $valor + 5.5rem;
    }
}

@mixin FontIconoAutomatico ($valor) {
    font-size: $valor;
    @media (min-width: v.$telefono) {
        font-size: $valor + 1vh;
    }
    @media (min-width: v.$telefonoXL) {
        font-size: $valor + 1.5vh;
    }
    @media (min-width: v.$telefonoXXL) {
        font-size: $valor + 1.5vh;
    }
    @media (min-width: v.$tablet) {
        font-size: $valor + 1.7vh;
    }
    @media (min-width: v.$tabletXL) {
        font-size: $valor + 2vh;
    }
    @media (min-width: v.$tabletXXL) {
        font-size: $valor + 2.3vh;
    }
    @media (min-width: v.$desktop) {
        font-size: $valor + 2.5vh;
    }
    @media (min-width: v.$desktopXL) {
        font-size: $valor + 2.7vh;
    }
    @media (min-width: v.$desktopXXL) {
        font-size: $valor + 3.5vh;
    }
}

@mixin botonLogReg($backColor, $fontColor) {
    width: 100%;
    height: 45px;
    background-color: $backColor;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: $fontColor;
    font-weight: 600;
}

@mixin gap ($valor) {
    @media (min-width: v.$telefono) {
        gap: $valor;
    }
    @media (min-width: v.$telefonoXL) {
        gap: $valor + .5vh;
    }
    @media (min-width: v.$telefonoXXL) {
        gap: $valor + .7vh;
    }
    @media (min-width: v.$tablet) {
        gap: $valor + 1vh;
    }
    @media (min-width: v.$tabletXL) {
        gap: $valor + 1.2vh;
    }
    @media (min-width: v.$tabletXXL) {
        gap: $valor + 1.7vh;
    }
    @media (min-width: v.$desktop) {
        gap: $valor + 2.5vh;
    }
    @media (min-width: v.$desktopXL) {
        gap: $valor + 3.5vh;
    }
    @media (min-width: v.$desktopXXL) {
        gap: $valor + 7.5vh;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url, $colorDegradado) {
    background-image: linear-gradient($colorDegradado 0%, $colorDegradado 100%), url($url );
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

@mixin bgColor($colorPrimario) {
    background-image: linear-gradient($colorPrimario 0%, $colorPrimario 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bgImagePe($url) {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    background-image: url($url );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}