@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    border-bottom: 2px solid #202021;

    &_box {
        padding: 1.6rem 2rem;
    }
    &_layout {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    &_box_available,
    &_time {
        padding: 1rem;
        border-radius: 20px;

        background-color: #0E0E0E;
        border: 1px solid #202021;
        color: white;
    }

    &_box_available,
    &_box_time {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    &_box_available {
        margin-right: auto;
        position: relative;
    }
    
    &_box_time {
        margin-left: auto;
    }

    &_circle {
        // position: absolute;
        border-radius: 100%;
        width: 8px;
        height: 8px;

        background-color: greenyellow;
    }
    &_available {
        text-transform: capitalize;
    }
    &_box_time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_p_time {
        margin: 0;
        display: inline-block;
        
        text-transform: capitalize;
        color: #999;
    }
    &_time {

    }
    &_span_time {
    }
}
