@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;
.header{
    display: none;
    height: 0;
    @include m.telefonoXL {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0 10%;
        height: auto;
        border-bottom: 2px solid #202021;
    }

    &_box {
        padding: 1.6rem 2rem;
    }
    &_layout {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include m.telefonoXL {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
    }

    &_box_available,
    &_time {
        padding: .4rem;
        border-radius: 20px;

        background-color: #0E0E0E;
        border: 1px solid #303030;
        color: white;
    }

    &_box_available,
    &_box_time {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vh;
    }

    &_box_available {
        position: relative;
        padding-left: 1.5rem;
        @include m.telefonoXL {
            margin-right: auto;
        }
    }
    &_box_time {
        display: none;
        margin-left: auto;
        @include m.telefonoXL {
            display: flex;
            flex-direction: row;
            gap: 1vh;
        }
    }
    &_circle_box {
        position: relative;
        top: -0.5rem;
        left: -0.5rem;
    }
    
    &_circle {
        position: absolute;
        background-color: greenyellow;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
    }

    &_circle_animacion {
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
        background-color: greenyellow;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        animation: cargaSpan 1.2s infinite forwards;

        @keyframes cargaSpan {
            0% {
                opacity: 0;
                transform: scale(.3);
            }

            50% {
                opacity: .7;
                transform: scale(.7);
            }

            100% {
                transform: scale(1);
                opacity: 0;
            }
        }
    }
    &_available {
        text-transform: capitalize;
        margin-left: .8rem;
    }
    &_p_time {
        margin: 0;
        display: inline-block;
        
        text-transform: capitalize;
        color: #999;
    }
    // &_time {

    // }
    &_span_time {
        color: #c084fc;
    }
}
