@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;

.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px 20px;
    background: rgba(13, 13, 13, 0.8); // Fondo con transparencia para efecto glass
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1f1f1f;
    z-index: 100;

    &_container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        font-weight: 700;
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
    }

    &_nav {
        display: flex;
        gap: 20px;
        
        @include m.tablet {
        gap: 30px;
        }
    }

    &_link {
        color: #9ca3af;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;

        &:hover, &.activo {
        color: #fff;
        }
    }
}