@use '../base/variables.module.scss' as v;
@use '../base/mixins.module.scss' as m;


.ventana{
    
// *********    PRINCIPAL    ********* //
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: #000;
    @include m.telefonoXL {
        height: 100vh;
    }
    &_layoutPrincipal {
        display: flex;
        flex-direction: column;
        @include m.telefonoXXL {
            display: grid;
            grid-template-columns: 1fr 10fr 1fr;
        }
    }

    &_header_box_layout,
    &_central_box_layout,
    &_footer_box_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100dvh;
        overflow: hidden;
        @include m.telefono {
            height: 100vh;
        }
    }
    &_header_box_layout,
    &_footer_box_layout {
        height: 0;
    }
    &_central_box_layout {

    }
    
    &_header_box_layout,
    &_footer_box_layout {
        height: 100%;
        padding: 2vh 0;
        background-color: #000;
    }

    &_header_box_layout {
        border-right: 2px solid #303030;
        justify-content: space-around;
    }

    &_footer_box_layout {
        border-left: 2px solid #303030;
        justify-content: center;
    }

// *********    HEADER    ********* //

    // &_header_perfil {
    // }
    // &_header_selector {
    // }
    // &_header_upward {
    // }

    &_header_box_imagen {
        // display: none;
        overflow: hidden;
        position: relative;
        @include m.telefono {
            width: 10dvh;
            height: 10dvh;
        }
        @include m.telefonoXL {
            border-radius: 50%;
            border: 6px solid #303030;
            width: 11dvh;
            height: 11dvh;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &_header_imagen_perfil {
        width: 200%;
        height: 200%;
        object-fit: cover;
        position: relative;
        top: 35%;
    }
    &_header_navegador,
    &_footer_navegador {
        top: 0;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include m.telefono {
            flex-direction: column;
        }
        @include m.gap(1);
    }
    &_header_selector_box,
    &_footer_selector_box {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #999999;
        transition: all .2s ease-in-out;

        &.activo,
        &:hover {
            background-color: #303030;
            color: white;
            cursor: pointer;
        }

        & span {
            font-size: 1.6rem;
        }
    }
    &_header_selector_opcion,
    &_footer_selector_opcion {
        height: 0;
        @include m.telefonoXL {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

// *********    CENTER    ********* //

    &_central_box {
        position: relative;
        width: 102%;
        height: 100%;
    }
    &_central_scroll {
        width: 100%;
        overflow-y: auto;
        height: 100%;   
    }
    &_central_contenido {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 10%;
        padding: 2rem 0;
        width: 80%;
        gap: 4rem;
    }

// *********    FOOTER    ********* //

    &_footer_boxPrincipal {}
    &_footer_layout {
        
    }
    &_footer_box {}
    &_footer_section {}
    &_footer_lateral_derecho {}
    &_footer_navegador {}
    &_footer_selector_box {}
    &_footer_selector_opcion {}
}
// .ventana {
//     background-color: #000000;

//     height: 100vh;
//     width: 100%;
//     overflow: hidden;

//     // *********    PRINCIPAL    ********* //
//     &_layoutPrincipal {
//         display: grid;
//         // grid-template-rows: 1fr 12fr 0;
//         grid-template-columns: 1fr 6fr 1fr;
//         overflow: hidden;
//         @include m.telefonoXL {
//             display: grid;
//             grid-template-columns: 1fr 6fr 1fr;
//             grid-template-rows: 1fr;
//             height: 100%;
//         }
//     }
//     &_box,
//     &_box_central {
//         position: relative;
//         width: 102%;
//         height: 100%;
//     }
//     &_box {
//         height: 0;
//         @include m.tabletXL {
//             height: 100%;
//         }
//     }

//     // *********    SECCIÓN CENTRAL    ********* //
//     &_section {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         min-height: 100%;
//     }

//     &_central {
//         width: 100%;
//         overflow-y: auto;
//     }

//     &_contenido {
//         display: flex;
//         flex-direction: column;
//         overflow: hidden;
//         margin: 0 10%;
//         padding: 2rem 0;
//         width: 80%;
//         gap: 4rem;
//     }

//     // *********    LATERALES    ********* //
//     &_lateral_izquierda,
//     &_lateral_derecho {
//         position: static;
//         background-color: black;
//         display: flex;
//         flex-direction: row;
//         @include m.telefono {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//         }
//     }

//     &_lateral_izquierda {
//         border-right: 2px solid #303030;
//         display: flex;
//         align-items: center;
//         @include m.telefono {
//             display: flex;
//             flex-direction: column;
//             position: relative;
//             left: 0;
//         }
//     }

//     &_lateral_derecho {
//         border-left: 2px solid #303030;
//         position: relative;
//         right: 0%;
//     }


//     // *********    LATERAL IZQUIERDO CONTENIDO    ********* //
//     &_box_imagen {
//         display: none;
//         position: static;
//         overflow: hidden;
//         @include m.tabletXL {
//             border-radius: 50%;
//             border: 6px solid #202021;
//             width: 12dvh;
//             height: 12dvh;

//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }
//     }

//     &_imagen_perfil {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }

//     &_navegador {
//         padding: 1.5rem;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         @include m.telefono {
//             flex-direction: column;
//         }
//     }

//     &_articlePerfil {
//         margin: 2rem 0 auto 0;
//     }

//     &_articleSelector {
//         margin: auto 0;
//     }

//     &_articleUpward {
//         display: none;
//         position: static;
//         margin: auto 0 2rem 0;
//         @include m.tabletXL {
//             display: inline-block;
//             position: absolute;
//         }
//     }

//     &_selector_box {
//         display: flex;
//         flex-direction: row;
//         @include m.tabletXL {
//             flex-direction: column;
//             gap: 1rem;
//         }
//     }

//     &_selector_opcion {
//         width: 2.8rem;
//         height: 2.8rem;
//         border-radius: 8px;

//         display: flex;
//         align-items: center;
//         justify-content: center;

//         color: #999999;
//         transition: all .2s ease-in-out;

//         &.activo,
//         &:hover {
//             background-color: #121212;
//             color: white;
//             cursor: pointer;
//         }

//         & span {
//             font-size: 1.6rem;
//         }
//     }
// }