footer.footer.bg-dark
  .footer__panel
    nav.footer__redes
      a#link__instagram.footer__redsocialBox(href='https://www.instagram.com/pablo.chavez20/')
        picture
          source(srcset='img/iconos/icono-instagram-white.avif' type='image/avif')
          source(srcset='img/iconos/icono-instagram-white.webp' type='image/webp')
          source(srcset='img/iconos/icono-instagram-white.jpg' type='image/jpg')
          img.footer__redsocial-img(loading='lazy' decoding='async' src='img/iconos/icono-instagram-white.jpg' lazyalt='imagen' alt='icono instagram white' width='auto' height='auto')
      a#link__whatsapp.footer__redsocialBox(href='https://wa.me/5491125457659')
        picture
          source(srcset='img/iconos/icono-whatsapp-white.avif' type='image/avif')
          source(srcset='img/iconos/icono-whatsapp-white.webp' type='image/webp')
          source(srcset='img/iconos/icono-whatsapp-white.jpg' type='image/jpg')
          img.footer__redsocial-img(loading='lazy' decoding='async' src='img/iconos/icono-whatsapp-white.jpg' lazyalt='imagen' alt='icono whatsapp white' width='auto' height='auto')
      a#link__youtube.footer__redsocialBox(href='https://www.youtube.com/channel/UCDKL4JLgdmVmmBAJPRGx0Eg/featured')
        picture
          source(srcset='img/iconos/icono-youtube-white.avif' type='image/avif')
          source(srcset='img/iconos/icono-youtube-white.webp' type='image/webp')
          source(srcset='img/iconos/icono-youtube-white.jpg' type='image/jpg')
          img.footer__redsocial-img(loading='lazy' decoding='async' src='img/iconos/icono-youtube-white.jpg' lazyalt='imagen' alt='icono youtube white' width='auto' height='auto')
    .footer__titulo-footer
      h3.footer__nombre-h2
        | Pablo Daniel Chavez
        span.footer__ocupacion
          | Desarrollador Web Full Stack
    .footer__listado
      a.footer__link-listado(href='')
        p.footer__link-nombre
          | Informacion
      span.footer__separacion-vertical
      a.footer__link-listado(href='')
        p.footer__link-nombre
          | Recientes
