header#header.header
  .header__grid
    a(href='index.html')
      h1.header__nombre-h2
        | Pablo Daniel Chavez
        span.header__ocupacion
          | Desarrollador Web Full Stack
    span#menu.material-symbols-outlined
      | menu
    .header__menu
      a.header__nav(href='#')
        span#inicio.material-symbols-outlined
          | home
        span.header__link
          | Inicio
      a.header__nav(href='#')
        span#informacion.material-symbols-outlined
          | info
        span.header__link
          | informacion
      span#btnServicios.header__nav
        span#spanServicios.material-symbols-outlined
          | work
        span.header__link
          | Servicios
      span#btnSobreMi.header__nav
        span#sobreMi.material-symbols-outlined
          | person
        span.header__link
          | Sobre m&iacute;
      span#btnTranslate.header__nav
        span#translate.material-symbols-outlined
          | translate
        span.header__link
          | Traducir
      span#btnTema.header__nav
        span#tema.material-symbols-outlined
          | palette
        span.header__link
          | Temas
