section.sobremi
  .sobremi__panel
    h2.sobremi__titulo-h2
      | Sobre m&iacute;
    p.sobremi__resumen
      span.sobremi__span-hola
        | Hola soy Pablo
      |             , bienvenido a mi portafolio, soy estudiante autodidacta de programacion web, En esta pagina hay detalles sobre quien soy, mi conocimiento y mis trabajos
    .sobremi__grid
      .sobremi__contacto
        h3.sobremi__titulo-h3
          | Datos personales
        .sobremi__datos-box
          .sobremi__dato
            p.sobremi__opcion-dato
              | Fecha de nacimiento
            a.sobremi__detalle(href='#')
              | 05/12/1999
          .sobremi__dato
            p.sobremi__opcion-dato
              | Telefono
            a.sobremi__detalle(href='tel:+54-911-2545-7659')
              | +54-911-2545-7659
          .sobremi__dato
            p.sobremi__opcion-dato
              | Correo
            a.sobremi__detalle(href='#')
              | pablo_daniel_chavez@outlook.es
          .sobremi__dato
            p.sobremi__opcion-dato
              | Sitio web
            a.sobremi__detalle(href='https://portafolio-pdc.netlify.app/')
              | www.portafolio-pdc.netlify.app
          .sobremi__dato
            p.sobremi__opcion-dato
              | Vivo en
            a.sobremi__detalle(href='https://goo.gl/maps/XxEwcjQFFGf6Gzme7')
              | Buenos Aires - Argentina
          .sobremi__dato
            p.sobremi__opcion-dato
              | Estado del trabajo
            a.sobremi__detalle(href='#')
              | Freelance
      .sobremi__interes
        h3.sobremi__titulo-h3
          | inter&eacute;s
        .sobremi__interes-grid
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | stadia_controller
            span.sobremi__interes-icons-nombre
              | Juegos
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | headphones
            span.sobremi__interes-icons-nombre
              | Musica
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | movie
            span.sobremi__interes-icons-nombre
              | Peliculas
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | smartphone
            span.sobremi__interes-icons-nombre
              | Celulares
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | menu_book
            span.sobremi__interes-icons-nombre
              | Leer
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | coffee
            span.sobremi__interes-icons-nombre
              | Caf&eacute;
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | travel_explore
            span.sobremi__interes-icons-nombre
              | Viajar
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | house
            span.sobremi__interes-icons-nombre
              | Hogar
          .sobremi__interes-box
            span.material-symbols-outlined.sobremi__interes-icons
              | groups
            span.sobremi__interes-icons-nombre
              | Amigos